html {
  font-size: 0.85rem;
  font-family: 'Roboto', sans-serif;
}
.contenedor {
  margin: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
}

.contorno {
  border: 1px solid grey;
}
.centrado {
  text-align: center;
  vertical-align: middle;
}
.borde {
  border: 2px solid grey;
}
.superior {
  border-radius: 6px 6px 0px 0px;
}

.inferior {
  border-bottom: 1px solid grey;
}
.tachado {
  text-decoration: line-through;
}
.bg-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02174d;
  color: aliceblue;
  height: 50px;
  margin: 10px auto;
}

.alt{
    background-color: #548686;
    color: aliceblue;
}

.alt-grey{
    background-color: #9c9c9c;
    color: aliceblue;
}

.azul {
  background-color: #02174d !important;
  color: aliceblue;
}
.nav-link:hover {
  color: orange;
}
.footer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #02174d;
  color: aliceblue;
}
.footer a {
  text-decoration: none;
  color: aliceblue;
  margin: 5px;
}
.redesSociales {
  margin: 7px;
}
.barra-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9bfd4;
  height: 60px;
  margin: 0;
}
.barra {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.menu-link {
  list-style: none;
  
}
.menu-link a {
  margin: 0;
  text-decoration: none;
  color: #010718;
  margin: 8px;
  font-size: 1rem;
  font-weight: bold;

}

.menu-link a:hover{
    color: #043ac2;
}

.icono {
  width: 18px;
  margin-right: 5px;
}
.rojo{
  filter: invert(79%) sepia(18%) saturate(6485%) hue-rotate(351deg) brightness(89%) contrast(101%);
}